<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
 <strong>Comments:</strong>
    <div id="comments">
      <%= render :partial => @post.comments.reverse %>
  </div>
</p>

<p>
  <%= form_for([@post, Comment.new], remote: true) do |f| %>
	  <div class="field">
	    <%= f.label :body, 'New Comment' %><br>
	    <%= f.text_area :body %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Add Comment"%>
	  </div>
  <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
